ul {
    list-style-type: none;
    border: 1px solid grey;
}

.second-list {
    background-color: red;
}
.blue {
    background-color: blue;
    color: white;
}
.pink {
    background-color: pink;
}
.active {
    background-color: yellow;
}
.green {
    background-color: green;
}
